// Body


// Typography



//general color codes
// $blue: #144577;
// $yellow: #FFD77E;
// $darkerBlue: #004379;
$gainsboro: #E0E0E0;
$gray: #3c3c3c;
$green-cicles: #36AE92;
$lightgray: #f8f8f8;

//school color codes
// $thauBcn: #F19B40;
// $thauSC: #EC8F66;
// $escolaBatx: #016A71;
// $idiomes: #26B1DC;
// $virtelia: #E96660;

//media breakpoints
$big-screen: 2000px;
$laptop-l: 1400px;
$laptop-m: 1200px;
$laptop-s: 1024px;
$tablet: 768px;
$mobile-xl: 480px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;
